.bodyback{
    background-image: url("Travel Agency Images/content.jpg");
    background-size: cover;
    background-position: center;
}
.vid{
    background-image: url("Travel Agency Images/vidback.jpg");
    padding: 15px;
    color: rgb(255, 248, 240);
    align-items: center;
}
.down{
    background-color: rgb(43, 27, 3);
    padding: 10px;
    border-radius: 25px;
}
.bodyback::before{
    opacity: 0.3;
}
.navbar{
    background-color: rgb(255, 255, 195);
    font-family: "Poppins";
    color:rgb(62, 56, 5);
}
.jumbotron {
    background: url('Travel Agency Images/peru.jpg') center center/cover no-repeat;
    color: white;
}
.footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
}
.display-4{
    font-family: 'Domine';
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.lead{
    font-family: 'Domine';
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 28px;
}
.btn{
    font-family: 'Poppins';
    background-image: url("Travel Agency Images/buttonback.jpg");
    background-size: cover;
    background-position: center;
    outline: 2px solid rgb(164, 112, 0);
    transition: outline 0.3s ease, transform 0.3s ease;
    width: 150px;
}
.btn:hover {
    outline: 2px solid rgb(255, 213, 0);
    transform: scale(1.05);
}
.card1{
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.card1:hover {
    transform: scale(1.05);
    background-color: rgb(219, 72, 72);
    color: rgb(255, 255, 255);
}
.card2{
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.card2:hover {
    transform: scale(1.05);
    background-color: rgb(255, 253, 221);
    color: rgb(85, 100, 15);
}
.card-img-top {
    height: 235px;
}
.card-text {
    height: 90px;
    font-family: 'Exo 2';
    text-align: justify;
    font-size: 15px;
}
.card-title {
    font-family: 'Exo 2';
    font-size: 18px;
    font-weight: bold;
}
.textsubtitle{
    font-family: 'Exo 2';
    color: rgb(37, 23, 1);
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
    font-size: 45px;
}
.textsubtitle2{
    font-family: 'Exo 2';
    color: rgb(66, 41, 3);
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
    font-size: 30px;
    font-weight: bold;
}